/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --Themes-mainColor: ;
    --accent-font: 'PressStart2P';
    --main-font: 'Inter';
    --background-color: #000;
    --accent-color: #00CC14;
    --section-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
    --stroke-color: #000;
    --header-padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
    --header-padding: clamp(0.875rem, -1.4798rem + 10.0469vw, 7.5625rem);
    --sparks-color: #FF0000;
}