/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-font: "PressStart2P";
  --main-font: "Inter";
  --bg-color: #fff;
  --bg-gradient-color: #d3d3d3;
  --accent-color: #000;
  --stroke-color: #fff;
  --header-padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  --sparks-color: #ff0000;
  --font-color: #000;
  --bg-top: #e7e7e7;
  --bg-bottom: #1a1a1a;
  --button-font-color: #fff;
  --bg: repeating-linear-gradient(
      to right,
      var(--bg-gradient-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      var(--bg-gradient-color) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
}